.grid-row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.grid-cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-cell img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
